<ion-header>
  <ion-toolbar>
    <ion-title>All Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Administrators
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/004/088/original/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>Rachel McGrath</h2>
        <p>Lead Event Manager</p>
      </ion-label>
      <ion-toggle color="success" checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/004/088/original/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>John McGrape</h2>
        <p>PRO</p>
      </ion-label>
      <ion-toggle color="success" checked="true"></ion-toggle>
    </ion-item>
    <br />
    <ion-list-header>
      Non-Administrators
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/004/088/original/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>Evan Grape</h2>
        <p>PRO</p>
      </ion-label>
      <ion-toggle color="success" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/004/088/original/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>Ruth Channer</h2>
        <p>PRO</p>
      </ion-label>
      <ion-toggle color="success" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/004/088/original/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>Abraham King</h2>
        <p>PRO</p>
      </ion-label>
      <ion-toggle color="success" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/004/088/original/user.png"
        />
      </ion-avatar>
      <ion-label>
        <h2>Rachel King</h2>
        <p>PRO</p>
      </ion-label>
      <ion-toggle color="success" checked="false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
