<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F84308133%2F292035859733%2F1%2Foriginal.20191211-221606?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C1080%2C540&s=f10cfeb8362f576b2ef960b6011b1476"
    />
    <ion-card-header>
      <ion-card-subtitle>Conference</ion-card-subtitle>
      <ion-card-title>Inspire Wealth</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Amidts the pandemic, there's the call for innovative ways to accumulate
      wealth...
      <br />
      <div class="cost">Cost: <span>$3500.00</span></div>
      <div>Date: <span>Sept. 5, 2020 - 2:00-5:00 p.m</span></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F69252989%2F272798929277%2F1%2Foriginal.20190820-141809?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=171%2C0%2C682%2C341&s=7c672f70e1dbd3e2d706a80bebf324c4"
    />
    <ion-card-header>
      <ion-card-subtitle>Technology</ion-card-subtitle>
      <ion-card-title>Tech Summit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ionic 5 training sessions. Now more than ever will you need these
      skills...
      <br />
      <div class="cost">Cost: <span>$2500.00</span></div>
      <div>Date: <span>Aug 25, 2020 - 2:00-5:00 p.m</span></div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F90542925%2F272798929277%2F1%2Foriginal.20200202-192931?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C37%2C1044%2C522&s=00c1a53d5a6e8553ac622a0d35221dd1"
    />
    <ion-card-header>
      <ion-card-subtitle>Youth</ion-card-subtitle>
      <ion-card-title>Challenge Is On!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Around the world, youths compete to achieve the title "Top Coder"...
      <br />
      <div class="cost">Cost: <span>Free</span></div>
      <div>Date: <span>Aug 20, 2020 - 12:00-5:00 p.m</span></div>
    </ion-card-content>
  </ion-card>
</ion-content>
