<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form onsubmit="">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked"
          >Event Name<ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >Description <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              Category<ion-text color="danger">*</ion-text>
            </ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Conference</ion-label>
            <ion-radio value="conference"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Charity</ion-label>
            <ion-radio value="charity"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Holiday Party</ion-label>
            <ion-radio value="holiday"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Kids Affair</ion-label>
            <ion-radio value="kiddies"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item>
        <ion-label position="stacked">Venue</ion-label>
        <ion-input placeholder="Address Line 1"></ion-input>
        <ion-input placeholder="Address Line 2"></ion-input>
        <ion-input placeholder="Parish"></ion-input>
        <ion-input placeholder="Country"></ion-input>
      </ion-item>
    </ion-list>

    <ion-item lines="full">
      <ion-label>Start Date</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>

    <ion-item lines="full">
      <ion-label>End Date</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
  </form>
  <br />
  <br />
  <div>
    <ion-button expand="block" type="submit" class="ion-no-margin"
    >Create Event</ion-button
    >
  </div>
  <br />
</ion-content>
