<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Visible Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>The Rebellion</ion-label>
      <ion-toggle color="success" checked="false"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Family Reunion</ion-label>
      <ion-toggle color="success" checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Quarantine Vybz</ion-label>
      <ion-toggle color="success" checked="true"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Neon Lights</ion-label>
      <ion-toggle color="sucess" checked="false"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
